@using FREQ_2019419
@using Ficha10.Models
@using Ficha7Saturday
@model IEmployees

@{
    ViewData["Title"] = "Home Page";
}

<ul>
@foreach (var employee in Model.EmployeesList)
{
    <li>
        @Html.DisplayFor(e => employee.FirstName)
        @Html.DisplayFor(e => employee.LastName)
    </li>
}
</ul>


<div class="text-center">
    <h1 class="display-4">assdafs</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
